<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="engine" class="org.example.coreXml.Engine">
        <property name="engineName" value="V8 Engine"/>
    </bean>

    <bean id="car" class="org.example.coreXml.Car">
        <property name="name" value="tata"/>

        <property name="engine" ref="engine"/>
    </bean>

</beans>